Repository rlneumiller/oli: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, eslint, prettier

cargo-fmt:
  name: cargo fmt
  description: Format Rust code
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy linter on Rust code
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

eslint:
  name: eslint
  description: Run ESLint on TypeScript files
  entry: bash -c 'cd ui && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  description: Format TypeScript files with Prettier
  entry: bash -c 'cd ui && npm run format'
  language: system
  pass_filenames: false

Improve tests structure
  .github/scripts/update_benchmark_docs.sh
  tests/agent/test_tools.rs
Due: cargo-fmt, cargo-clippy

Fix some prints
  src/communication/rpc.rs
  tests/communication/test_rpc.rs
Due: cargo-fmt, cargo-clippy

Update cc v1.2.19 -> v1.2.20
  Cargo.lock
Due: none

Fix benchmark timing and counts
  .github/scripts/update_benchmark_docs.sh
  .github/workflows/benchmark.yml
Due: none

Update benchmark results
  docs/src/benchmark.md
Due: none

Update README
  README.md
  docs/src/intro.md
Due: none

Fix tool names to be consistent
  src/agent/executor.rs
  src/agent/tools.rs
  src/app/core.rs
  tests/agent/test_tools.rs
Due: cargo-fmt, cargo-clippy

Fix Edit, Replace, Bash tool notifications
  src/agent/tools.rs
Due: cargo-fmt, cargo-clippy

More fixes to the RPC notifications
  src/agent/tools.rs
Due: cargo-fmt, cargo-clippy

Update some outdated deps
  Cargo.lock
Due: none

Rename query_model, remove unused
  docs/src/api.md
  src/app/agent.rs
  src/app/core.rs
  src/app/permissions.rs
  src/app/state.rs
  src/main.rs
  tests/app/test_core.rs
  tests/app/test_history.rs
  ui/src/utils/commandHandlers.ts
Due: cargo-fmt, cargo-clippy, eslint, prettier

Add cli, refactor app
  app/eslint.config.js
  app/package-lock.json
  app/package.json
  app/src/cli.ts
  app/src/components/AnimatedSpinner.tsx
  app/src/components/App.tsx
  app/src/components/ChatInterface.tsx
  app/src/components/CommandPalette.tsx
  app/src/components/ModelSelector.tsx
  app/src/components/ShortcutsPanel.tsx
  app/src/components/StatusBar.tsx
  app/src/components/StatusDisplay.tsx
  app/src/components/StatusPanel.tsx
  app/src/components/TaskInterruptionHandler.tsx
  app/src/components/ToolStatusIndicator.tsx
  app/src/components/WelcomeBox.tsx
  app/src/services/backend.ts
  app/src/styles/gruvbox.ts
  app/src/types/index.ts
  app/src/utils/commandHandlers.ts
  app/src/utils/commandUtils.ts
  app/src/utils/messageUtils.ts
  app/tsconfig.json
  bin/oli
  build.sh
  package-lock.json
  package.json
  run.sh
  scripts/install.js
  src/main.rs
  ui/src/cli.ts
Due: cargo-fmt, cargo-clippy, eslint, prettier

Fix CI paths
  .github/workflows/ci.yml
  .github/workflows/dependency_check.yml
Due: none

Update app/src/components/App.tsx
  app/src/components/App.tsx
Due: none

Update app/src/cli.ts
  app/src/cli.ts
Due: none

Fix UI, don't log when UI is running
  app/src/services/backend.ts
  run.sh
Due: none

Fix lsp tool calls (version 1)
  src/agent/tools.rs
  src/tools/lsp/manager.rs
  src/tools/lsp/models.rs
  src/tools/lsp/protocol.rs
  src/tools/lsp/servers.rs
  tests/agent/test_tools.rs
Due: cargo-fmt, cargo-clippy

Add direct and benchmark test for replace tool
  tests/agent/test_tools.rs
Due: cargo-fmt, cargo-clippy

Update the chrono dep
  Cargo.lock
Due: none

Update src/tools/lsp/manager.rs
  src/tools/lsp/manager.rs
Due: cargo-fmt, cargo-clippy

Update tests/agent/test_tools.rs
  tests/agent/test_tools.rs
Due: cargo-fmt, cargo-clippy

Switch to 7b model for faster benchmarks
  .github/workflows/benchmark.yml
Due: none

Add direct and benchmark test for edit tool
  tests/agent/test_tools.rs
Due: cargo-fmt, cargo-clippy

Remove code parse check from executor
  src/agent/executor.rs
Due: cargo-fmt, cargo-clippy

Add expected_replacements to Edit tool
  src/agent/executor.rs
  src/agent/tools.rs
  src/tools/fs/file_ops.rs
  tests/agent/test_tools.rs
  tests/tools/fs/test_file_ops.rs
Due: cargo-fmt, cargo-clippy

Refactor executor, add simple tests
  src/agent/executor.rs
  tests/agent/mod.rs
  tests/agent/test_executor.rs
Due: cargo-fmt, cargo-clippy

Update deps
  Cargo.lock
Due: none

Reduce temperature for agent executor
  src/agent/executor.rs
Due: cargo-fmt, cargo-clippy

Refactor and improve app core
  src/app/core.rs
  tests/app/test_core.rs
Due: cargo-fmt, cargo-clippy

Small update to comment, gj copilot
  tests/app/test_core.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  eslint: any of: \.(ts|tsx)$, but not: ^(?!ui/)
  prettier: any of: \.(ts|tsx)$, but not: ^(?!ui/)
