Repository rlneumiller/oli: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, eslint, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Use the ref you want to point at
    hooks:
    - id: trailing-whitespace
    - id: check-ast
    - id: check-builtin-literals
    - id: check-docstring-first
    - id: check-executables-have-shebangs
    - id: debug-statements
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-byte-order-marker
    - id: check-merge-conflict
    - id: check-symlinks
    - id: detect-private-key
    - id: check-yaml
      args: [--unsafe]
    - id: check-toml

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy linter on Rust code
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: eslint
        name: eslint
        description: Run ESLint on TypeScript files
        entry: bash -c 'cd ui && npm run lint'
        language: system
        files: \.(ts|tsx)$
        exclude: ^(?!ui/)
        pass_filenames: false

      - id: prettier
        name: prettier
        description: Format TypeScript files with Prettier
        entry: bash -c 'cd ui && npm run format'
        language: system
        files: \.(ts|tsx)$
        exclude: ^(?!ui/)
        pass_filenames: false

Move tests to module (anthropic)
  src/apis/anthropic.rs
  tests/apis/mod.rs
Due: cargo-fmt, cargo-clippy

Fix formatting issues
  tests/apis/mod.rs
  tests/apis/test_anthropic.rs
Due: cargo-fmt, cargo-clippy

Add benchmark workflow (ollama alone)
  .github/workflows/benchmark.yml
Due: none

Fix formatting issues
  .github/workflows/benchmark.yml
Due: none

Fix workflow title
  .github/workflows/ci.yml
Due: none

Add permissions to workflow
  .github/workflows/benchmark.yml
Due: none

Fix version
  .github/workflows/benchmark.yml
Due: none

Add oli server tests
  .github/workflows/benchmark.yml
Due: none

Fix the server test
  .github/workflows/benchmark.yml
Due: none

Fix the server test again
  .github/workflows/benchmark.yml
Due: none

Fix permissions, formatting
  .github/workflows/benchmark.yml
Due: none

Fix args, connect to ollama server
  .github/workflows/benchmark.yml
Due: none

Fix model index issue
  .github/workflows/benchmark.yml
Due: none

Fix model API key issue
  .github/workflows/benchmark.yml
Due: none

Ugh try again
  .github/workflows/benchmark.yml
Due: none

Fix major bug in model selector
  src/apis/gemini.rs
  src/app/core.rs
  src/main.rs
  src/models.rs
  ui/src/components/App.tsx
  ui/src/services/backend.ts
Due: cargo-fmt, cargo-clippy, eslint, prettier

Fix bug to have agent history
  src/agent/core.rs
  src/app/core.rs
  src/lib.rs
  src/main.rs
  tests/app/test_history.rs
Due: cargo-fmt, cargo-clippy

Update src/main.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

Fix missing import
  src/main.rs
Due: cargo-fmt, cargo-clippy

Fix ollama issues
  src/agent/core.rs
  src/apis/ollama.rs
  src/models.rs
  ui/src/utils/commandHandlers.ts
Due: cargo-fmt, cargo-clippy, eslint, prettier

Improve model extraction
  src/main.rs
Due: cargo-fmt, cargo-clippy

Fix formatting issues
  src/main.rs
Due: cargo-fmt, cargo-clippy

Update actions
  .github/workflows/benchmark.yml
Due: none

Add tests for agent
  tests/agent/mod.rs
  tests/agent/test_core.rs
  tests/mod.rs
Due: cargo-fmt, cargo-clippy

Update tests/agent/test_core.rs
  tests/agent/test_core.rs
Due: cargo-fmt, cargo-clippy

Remove old unused tool formatting code
  src/agent/executor.rs
Due: cargo-fmt, cargo-clippy

Fix formatting
  tests/agent/test_core.rs
Due: cargo-fmt, cargo-clippy

Fix tests
  tests/agent/test_core.rs
Due: cargo-fmt, cargo-clippy

Improve read file tool call
  src/agent/executor.rs
  src/agent/tools.rs
  src/app/core.rs
Due: cargo-fmt, cargo-clippy

Add FileRead tool benchmark test
  .github/workflows/benchmark.yml
  Cargo.toml
  tests/integration/mod.rs
  tests/integration/test_file_read_tool.rs
Due: cargo-fmt, cargo-clippy

Simplify tool tests, add benchmarks results to docs
  .github/scripts/update_benchmark_docs.sh
  .github/scripts/update_demo.sh
  .github/workflows/benchmark.yml
  .gitignore
  docs/src/SUMMARY.md
  docs/src/benchmark.md
Due: none

Fix silly bug
  tests/integration/test_file_read_tool.rs
Due: cargo-fmt, cargo-clippy

Try fixing error
  src/agent/tools.rs
  src/apis/ollama.rs
Due: cargo-fmt, cargo-clippy

Fix benchmark tests
  .github/workflows/benchmark.yml
  tests/integration/test_file_read_tool.rs
Due: cargo-fmt, cargo-clippy

Update cargo deps
  Cargo.lock
Due: none

Skip integration tests for coverage
  .github/workflows/ci.yml
Due: none
