Repository rlneumiller/oli: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, eslint, prettier

cargo-fmt:
  name: cargo fmt
  description: Format Rust code
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy linter on Rust code
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

eslint:
  name: eslint
  description: Run ESLint on TypeScript files
  entry: bash -c 'cd ui && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  description: Format TypeScript files with Prettier
  entry: bash -c 'cd ui && npm run format'
  language: system
  pass_filenames: false

Fix broken CI
  .github/workflows/code_checks.yml
Due: none

Fix activation of python venv
  .github/workflows/code_checks.yml
Due: none

Fix npm run build errors
  ui/package-lock.json
  ui/src/components/App.tsx
  ui/src/services/backend.ts
Due: eslint, prettier

Fix outdated dependencies
  Cargo.lock
  Cargo.toml
Due: none

Fix log in src/main.rs
  run.sh
  src/apis/ollama.rs
  src/app/core.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

Rename code checks to ci.yml
  .github/workflows/ci.yml
Due: none

Fix logging in APIs
  src/apis/anthropic.rs
  src/apis/ollama.rs
  src/apis/openai.rs
Due: cargo-fmt, cargo-clippy

Add npm build, fix brew build
  .github/workflows/crate.yml
  .github/workflows/homebrew.yml
  .github/workflows/npm.yml
  .npmignore
  Cargo.lock
  Cargo.toml
  build.sh
  package.json
  run.sh
  scripts/install.js
  src/main.rs
  tests/apis/test_api_client.rs
  tests/apis/test_api_client_enum.rs
  tests/app/test_history.rs
  tests/app/test_logger.rs
  tests/app/test_scroll.rs
  tests/integration/test_code_parser.rs
  tests/tools/code/test_parser.rs
  tests/tools/fs/test_file_ops.rs
  tests/tools/fs/test_search.rs
  ui/package.json
  ui/src/cli.ts
Due: cargo-fmt, cargo-clippy, eslint, prettier

Fix permissions, formatting
  .github/workflows/npm.yml
  .npmignore
  scripts/install.js
Due: none

UI fixes, tool use integration
  build.sh
  package-lock.json
  run.sh
  src/agent/executor.rs
  src/app/core.rs
  src/communication/rpc.rs
  src/main.rs
  src/models.rs
  src/ui/components.rs
  src/ui/draw.rs
  src/ui/events.rs
  src/ui/guards.rs
  src/ui/helpers.rs
  src/ui/messages.rs
  src/ui/mod.rs
  src/ui/styles.rs
  ui/src/cli.ts
  ui/src/components/ActiveTaskPanel.tsx
  ui/src/components/AnimatedSpinner.tsx
  ui/src/components/App.tsx
  ui/src/components/ChatInterface.tsx
  ui/src/components/CommandPalette.tsx
  ui/src/components/ModelSelector.tsx
  ui/src/components/ShortcutsPanel.tsx
  ui/src/components/StatusBar.tsx
  ui/src/components/TaskInterruptionHandler.tsx
  ui/src/components/ToolStatusIndicator.tsx
  ui/src/components/ToolStatusPanel.tsx
  ui/src/components/WelcomeBox.tsx
  ui/src/services/backend.ts
  ui/src/types/index.ts
  ui/src/utils/commandHandlers.ts
  ui/src/utils/commandUtils.ts
  ui/src/utils/messageUtils.ts
Due: cargo-fmt, cargo-clippy, eslint, prettier

Formatting and linting fixes
  src/app/core.rs
  src/communication/rpc.rs
  src/main.rs
  ui/src/components/App.tsx
  ui/src/components/ChatInterface.tsx
  ui/src/components/ToolStatusIndicator.tsx
  ui/src/components/ToolStatusPanel.tsx
  ui/src/components/WelcomeBox.tsx
  ui/src/services/backend.ts
  ui/src/types/index.ts
Due: cargo-fmt, cargo-clippy, eslint, prettier

Fix UI bugs, RPC subscriber
  Cargo.lock
  Cargo.toml
  build.sh
  run.sh
  src/agent/tools.rs
  src/app/core.rs
  src/communication/rpc.rs
  src/main.rs
  ui/src/cli.ts
  ui/src/components/ActiveTaskPanel.tsx
  ui/src/components/App.tsx
  ui/src/components/ChatInterface.tsx
  ui/src/components/CommandPalette.tsx
  ui/src/components/HeaderBox.tsx
  ui/src/components/StatusBar.tsx
  ui/src/components/StatusDisplay.tsx
  ui/src/components/StatusPanel.tsx
  ui/src/components/TaskList.tsx
  ui/src/components/ToolStatusIndicator.tsx
  ui/src/components/ToolStatusPanel.tsx
  ui/src/services/backend.ts
  ui/src/types/index.ts
Due: cargo-fmt, cargo-clippy, eslint, prettier

Update rand
  Cargo.lock
  Cargo.toml
Due: none

Update versions
  Cargo.lock
  Cargo.toml
  package-lock.json
  package.json
Due: none

Fix release build
  .github/workflows/homebrew.yml
  README.md
  scripts/install.js
Due: none

Fix release build, add post version
  Cargo.lock
  Cargo.toml
  package.json
Due: none

Update README.md with demo gif
  README.md
Due: none

Fix installation instructions, remove brew and cargo until fixed
  README.md
Due: none

Adjust badges
  README.md
Due: none

Update docs
  docs/src/intro.md
Due: none

Add tests for RPC backend module
  tests/communication/mod.rs
  tests/communication/test_rpc.rs
  tests/mod.rs
Due: cargo-fmt, cargo-clippy

Remove useless header box
  ui/src/cli.ts
  ui/src/components/App.tsx
  ui/src/components/HeaderBox.tsx
Due: eslint, prettier

Add support for GEMINI API, tests
  src/agent/core.rs
  src/apis/api_client.rs
  src/apis/gemini.rs
  src/apis/mod.rs
  src/app/core.rs
  src/models.rs
  tests/apis/mod.rs
  tests/apis/test_anthropic.rs
  tests/apis/test_api_client_enum.rs
  tests/apis/test_gemini.rs
  tests/apis/test_ollama.rs
  tests/apis/test_openai.rs
Due: cargo-fmt, cargo-clippy

Fix typos, update README
  README.md
  docs/src/intro.md
  src/agent/core.rs
  src/apis/api_client.rs
  tests/apis/test_api_client_enum.rs
Due: cargo-fmt, cargo-clippy

Uncapitalize gemini
  README.md
Due: none

Improve RPC API, add api doc
  docs/src/SUMMARY.md
  docs/src/api.md
  src/main.rs
Due: cargo-fmt, cargo-clippy

Fix typos
  docs/src/api.md
Due: none

Update package.json
  package.json
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update run.sh
  run.sh
Due: none

Update main.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

Update install.js
  scripts/install.js
Due: none

Add support for prompt caching to anthropic API
  src/apis/anthropic.rs
  tests/apis/test_anthropic.rs
Due: cargo-fmt, cargo-clippy

Update signal-hook-registry
  Cargo.lock
Due: none

Update src/apis/anthropic.rs
  src/apis/anthropic.rs
Due: cargo-fmt, cargo-clippy

Refactor log message fn
  src/apis/anthropic.rs
  src/apis/api_client.rs
Due: cargo-fmt, cargo-clippy

Use helper fn
  src/apis/anthropic.rs
Due: cargo-fmt, cargo-clippy

Fix caching logic in convert_messages
  src/apis/anthropic.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  eslint: any of: \.(ts|tsx)$, but not: ^(?!ui/)
  prettier: any of: \.(ts|tsx)$, but not: ^(?!ui/)
