Repository rlneumiller/oli: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, eslint, prettier

cargo-fmt:
  name: cargo fmt
  description: Format Rust code
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy linter on Rust code
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

eslint:
  name: eslint
  description: Run ESLint on TypeScript files
  entry: bash -c 'cd ui && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  description: Format TypeScript files with Prettier
  entry: bash -c 'cd ui && npm run format'
  language: system
  pass_filenames: false

Fix tests, improve performance
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  tests/integration/test_file_read_tool.rs
Due: cargo-fmt, cargo-clippy

Add debug statements
  .github/workflows/benchmark.yml
  tests/integration/test_file_read_tool.rs
Due: cargo-fmt, cargo-clippy

Try again to fix
  .github/workflows/benchmark.yml
Due: none

Simplify test
  .github/scripts/update_benchmark_docs.sh
  .github/workflows/benchmark.yml
  docs/src/benchmark.md
  tests/integration/test_file_read_tool.rs
Due: cargo-fmt, cargo-clippy

Fix core test
  tests/agent/test_core.rs
Due: cargo-fmt, cargo-clippy

Fix workflow permissions
  .github/workflows/benchmark.yml
Due: none

Try on self-hosted runner
  .github/workflows/benchmark.yml
Due: none

Try again
  .github/workflows/benchmark.yml
Due: none

Remove installation of ollama
  .github/workflows/benchmark.yml
Due: none

Remove setup of ollama
  .github/workflows/benchmark.yml
Due: none

Improve benchmark workflow
  .github/scripts/update_benchmark_docs.sh
  .github/workflows/benchmark.yml
  docs/src/benchmark.md
Due: none

Update .github/workflows/benchmark.yml
  .github/workflows/benchmark.yml
Due: none

Fix run condition
  .github/scripts/update_benchmark_docs.sh
  .github/workflows/benchmark.yml
  docs/src/benchmark.md
Due: none

Try with PAT
  .github/workflows/benchmark.yml
Due: none

Fixes, improvements
  .github/scripts/update_benchmark_docs.sh
  docs/src/benchmark.md
Due: none

Don't skip CI for nothing
  .github/workflows/benchmark.yml
Due: none

Update benchmark results
  docs/src/benchmark.md
Due: none

Improve exec time display, remove unused script
  .github/scripts/update_benchmark_docs.sh
  .github/scripts/update_demo.sh
  .github/workflows/benchmark.yml
Due: none

Remove old code parser
  Cargo.lock
  Cargo.toml
  build.rs
  src/agent/core.rs
  src/agent/executor.rs
  src/agent/tools.rs
  src/app/agent.rs
  src/tools/code/mod.rs
  src/tools/code/parser.rs
  src/tools/mod.rs
  tests/integration/mod.rs
  tests/integration/test_code_parser.rs
  tests/tools/code/mod.rs
  tests/tools/code/test_parser.rs
Due: cargo-fmt, cargo-clippy

Add lsp manager, tool calls based on functions
  src/agent/tools.rs
  src/tools/lsp/manager.rs
  src/tools/lsp/mod.rs
  src/tools/lsp/models.rs
  src/tools/lsp/protocol.rs
  src/tools/lsp/servers.rs
  src/tools/mod.rs
Due: cargo-fmt, cargo-clippy

Update cargo deps
  Cargo.lock
Due: none

Update version
  package-lock.json
Due: none

Fix bug requiring API keys to run ollama models
  src/app/core.rs
  tests/app/mod.rs
  tests/app/test_core.rs
Due: cargo-fmt, cargo-clippy

Remove homebrew workflow
  .github/workflows/homebrew.yml
Due: none

Add RPC notifications for the LS tool
  src/agent/executor.rs
  src/agent/tools.rs
Due: cargo-fmt, cargo-clippy

Add RPC notifications for the glob tool
  src/agent/tools.rs
  ui/src/components/App.tsx
  ui/src/components/ToolStatusIndicator.tsx
  ui/src/types/index.ts
Due: cargo-fmt, cargo-clippy, eslint, prettier

Update src/agent/tools.rs
  src/agent/tools.rs
Due: cargo-fmt, cargo-clippy

Update demo gif
  README.md
Due: none

Update intro doc
  docs/src/intro.md
Due: none

Fix and improve grep tool
  src/agent/tools.rs
  src/tools/fs/search.rs
  tests/tools/fs/test_search.rs
Due: cargo-fmt, cargo-clippy

Improve search functionality, add tests
  src/tools/fs/search.rs
  tests/tools/fs/test_search.rs
Due: cargo-fmt, cargo-clippy

Remove duplicate keys
  src/agent/tools.rs
Due: cargo-fmt, cargo-clippy

Add some benchmark tests for grep, ls and glob tools
  tests/agent/mod.rs
  tests/agent/test_tools.rs
  tests/integration/mod.rs
  tests/integration/test_file_read_tool.rs
  tests/mod.rs
Due: cargo-fmt, cargo-clippy

Run benchmark tests if rust files change
  .github/workflows/benchmark.yml
Due: none

Small fix
  .github/workflows/benchmark.yml
Due: none

Fix CI workflows
  .github/scripts/update_benchmark_docs.sh
  .github/workflows/benchmark.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  eslint: any of: \.(ts|tsx)$, but not: ^(?!ui/)
  prettier: any of: \.(ts|tsx)$, but not: ^(?!ui/)
